* {
    padding: 0;
    margin: 0 auto;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
a {
    color: #1f1a17;
}
 
input:focus,
button:focus,
textarea:focus{
    outline: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}
a,a:hover {
  color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

body {
    font-family: 'ProximaNovaA-Thin';
  color:#909090;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  
    /*font-family: 'ProximaNova-Black';*/
    font-family: 'ProximaNovaA-Thin';
    font-weight: 600;
    color: #1f1a17;
    margin: 0;
}

p {
  font-family: 'ProximaNovaA-Thin';
  color: #fff;
  font-size: 14px;
}


@font-face {
  font-family: 'ProximaNova-Black';
  src: url('../fonts/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg'),
       url('../fonts/ProximaNova-Black.ttf') format('truetype'),
       url('../fonts/ProximaNova-Black.woff') format('woff'),
       url('../fonts/ProximaNova-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaA-Thin';
  src: url('../fonts/ProximaNovaA-Thin.eot');
  src: url('../fonts/ProximaNovaA-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNovaA-Thin.svg#ProximaNovaA-Thin') format('svg'),
       url('../fonts/ProximaNovaA-Thin.ttf') format('truetype'),
       url('../fonts/ProximaNovaA-Thin.woff') format('woff'),
       url('../fonts/ProximaNovaA-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('../fonts/ProximaNova-Extrabld.eot');
  src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
       url('../fonts/../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg'),
       url('../fonts/ProximaNova-Extrabld.ttf') format('truetype'),
       url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
       url('../fonts/ProximaNova-Extrabld.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Extrabld';
    src: url('../fonts/ProximaNova-Extrabld.eot');
    src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
         url('../fonts/../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg'),
         url('../fonts/ProximaNova-Extrabld.ttf') format('truetype'),
         url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
         url('../fonts/ProximaNova-Extrabld.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  
.video-btn {
    display: block;
    background: none;
    border-radius: 360px;
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
    -o-border-radius: 360px;
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
    background: none;
    border: solid 1px #fff;
    position:relative;
    z-index: 100;
    left: 0;
    right: 0;
   
}

.video-btn span {
    position: absolute;
    width: 150px;
    text-transform: uppercase;
    font-size: 16px;
    left: 30px;
    top: -41px;
    letter-spacing: 1px;
    font-weight: bold;
}

.modal-content {
    border-radius: 0;
}

.modal {
   
    top: 35px;
}
.videopop .modal-body {
    width: 100%;
    padding: 0;
    margin-top: -1px;
}

.videopop iframe {
    margin-bottom: -6px;
}

.videopop .modal-header {
    padding: 0;
}
.modal-header {
    width: 100%;
}

.videopop button.close {
    position: absolute;
    right: 0;
    background: #000;
    opacity: 1;
    z-index: 9;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    line-height: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #fff !important;
    opacity: 1 !important;
    
}

.photoImg {
    background-size: cover !important;
    height: 100vh;
}

html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    right: 50px;
}
#fp-nav.fp-right {
    right: 17px;
}
#fp-nav.fp-left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.fp-bottom {
    bottom: 17px;
}
.fp-slidesNav.fp-top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 4px;
    width: 4px;
    /* margin: -6px 0 0 -6px; */
    border-radius: 0;
    opacity: 1;
 }
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border-radius: 0;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #fff;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: 0.6;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 4px;
    height: 4px;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
    display: none;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.fp-right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

/*Only display content to screen readers*/
.fp-sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/*header {*/
/*  padding-top: 0px;*/
/*}*/
/*header .navbar-nav li a{*/
/* color: #fff !important;*/
/* text-transform: uppercase;*/
/*}*/

/*.navbar-brand img {*/
/*  width: 130px;*/
/*  transition: all ease-in-out 0.5s;*/
/*}*/

/*nav.navbar.navbar-expand-lg.navbar-light {*/
/*    padding: 0;*/
/*}*/

/*.navbar-light .navbar-nav .nav-link {*/
/*    padding: 0 22px;*/
/*    opacity: 0.7;*/
/*}*/

/*.navbar-light .navbar-nav .active>.nav-link, */
/*.navbar-light .navbar-nav .nav-link.active{*/
/*    opacity: 1*/
/*}*/

/*.navbar-light .navbar-nav .nav-link:hover {*/
/*  opacity: 1;*/
/*}*/
/*.navbar-nav {*/
/*      margin-right: 0;*/
/*}*/

.aboutus {
  position: relative;
}
.aboutus .one_banner {
        position: absolute;
    /* bottom: 60px; */
    /* right: 0; */
    left: 75px;
    margin: 0;
    max-width: 1330px;
    margin: 0 auto;
    padding: 8px 15px;
    top: 190px;
    background-image: linear-gradient(45deg, rgba(0,0,0,.1) 50%, rgba(0,0,0,.2) 50%);
    background-size: 3px 3px;
    width: 50%;
    box-shadow: 3px 0px 12px #fff;
}


.relative {
  position: relative;
} 

.aboutus .one_banner p {
    font-size: 16px;
    opacity: 0.8;
}

.aboutus .one_banner h1 {
    font-size: 63px;
        /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.aboutus .one_banner span {
    position: relative;
    color: #fff;
    display: flex;
    justify-content: space-around;
}
.aboutus .one_banner span:before {
    content: '';
    position: absolute;
    width: 48%;
    height: 2px;
    display: block;
    background: #fff;
    left: 26px;
    /* top: 0; */
    bottom: 0;
    margin: auto;
    opacity: 0.8;
}
.aboutus .one_banner span em {
    margin: 0;
    position: relative;
    left: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    top: 5px;
}

/* .connectivity {
    position: relative;
    top: 200px;
} */

.connectivity {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
        width: 95%;
}

.connectivity h4 {
    color: #fff;
    font-size: 42px;
    line-height: 1.2;
}

.amenities_left h4 {
    color: #1d95ce;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 30px;
    font-weight: bold;
}
h4.client {
    margin-top: 0px;
    font-weight: bold;
    color:#1d9dd8;
    margin-bottom:5px;
}

p.diff {
    font-size: 22px !important;
    font-weight: bold !important;
    color: #1d9dd8 !important;
}

.enbtn{
    background: #003c5b;
    outline: none;
    border: 0;
    color: #fff;
    padding: 5px 10px;
    float: right;
    font-weight: 100;
    cursor:pointer;
}
.amenities_left {
    padding-top: 100px;
    max-width: 750px;
    margin-right: 0;
    padding-right: 30px;
    padding-left: 30px;
}
.amenities_left span {
    color: #003c5b;
    font-weight: 600;
    margin-bottom: 30px;
    display: block;
    font-size: 18px;
    line-height: 1.1;
}

.amenities_left p {
    color: #000000;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 0px;
    font-weight:bold;
}

a.ultimaBtn {
    display: inline-block;
    background: #1d9dd8;
    color: #ffffff;
    padding: 20px 50px;
    font-size: 14px;
    border-radius:8px;
}


a.ultimaBtn1 {
    display: inline-block;
    background: #fff;
    color: #003c5b;
    padding: 20px 50px;
    margin-top:20px;
    font-size: 14px;
}

.blueBg {
    /* background: #003c5b; */
    width: 100%;
    background-color: #030a16;
    background-image: linear-gradient(0deg, #030a16 0%, #1d9dd8 100%);
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh;
    padding-bottom: 30px;
    padding-top: 100px;
}

.amenities .container {
  max-width: 100%;
  padding-right: 0;
}

.amenities_wrapper {
    position: relative;
    top: 180px;
}

.amenities_wrapper .AmenitiesName span {
  color: #fff;  
  font-size: 18px;
}

.amenities_wrapper .amenities_list h4{
  color: #fff;
  font-size: 42px;
}

.amenities_list ul {
    list-style: none;
    display: flex;
    margin-top: 60px;
    margin-bottom: 90px;
}

.amenities_list ul li {
    margin-left: 0;
    position: relative;
}
.amenities_list ul li span {
    color: #fff;
    font-family: 'CeraGR-Thin';
    display: block;
    margin-top: 20px;
}
.amenities_list ul li:after {
    content: '';
    background: #fff;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
}

.amenities_list .ultimaBtn{
      background: rgba(14, 14, 14, 0.86);
}

.floor_plan .floor_plan_wrapper{
  position: relative;
  top: 70px;
}

.floor_plan .floor_plan_wrapper .floor_left span{
      color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
    display: block;
    font-size: 18px;
    line-height: 1.1;
}

.floor_plan .floor_plan_wrapper .floor_left h4{
      color: #fff;
    font-size: 42px;
}

.floorPlan .floorPlanJs h4 {
    color: #003c5b;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'CeraGR-Medium';
}

.floorPlan .floorPlanJs p {
    color: #000000;
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
    margin-top: 7px;
}
.floorPlan .floorPlanJs {
  margin: 0 5px;
}

.floor_plan_box {
    margin-top:0px;
}

.slick-dots li:before {
    content: '';
    background: #003c5b;
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
}

.slick-dots li.slick-active:before {
    content: '';
    background: #003c5b;
    width: 7px;
    height: 7px;
}

.slick-dots {
    bottom: -80px;
}

.slick-dots li.slick-active {
    border: solid 1px #003c5b;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    left: 0;
}

.slick-dots li {
    margin: 0 5px !important;
}

.slick-slide:focus {
  outline: none;
  box-shadow: none;
}

.Specification .amenities_list .Specificationjs li h4 {
    color: #6d6d6d;
    font-family: 'GothamMedium';
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 0;
}
.Specification .amenities_list .Specificationjs li span {
    color: #6d6d6d;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 10px;
}

.Specification .amenities_list ul li:after {
  display: none;
}

.banner_form {
    max-width: 350px;
    margin-right: 0;
    background: rgba(0, 0, 0, 0.47058823529411764);
    padding: 30px;
    position: absolute;
    right: 0;
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 420px;
    margin-right: 0;
}

.banner_form h4 {
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    font-family: 'CeraGR-Medium';
}

.banner_form .form-control {
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px #fff;
    padding-left: 0;
    color: #fff;
}

.banner_form .form-control ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff
}
.banner_form .form-control ::-moz-placeholder { /* Firefox 19+ */
  color: #fff
}
.banner_form .form-control :-ms-input-placeholder { /* IE 10+ */
  color: #fff
}
.banner_form .form-control :-moz-placeholder { /* Firefox 18- */
  color: #fff
}

.banner_form .ultimaBtn_btn {
  margin-top: 12px;
    background: #000;
    color: #ffffff94;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.banner_form .ultimaBtn_btn:hover {
  color: #fff;
}

.from_width {
    max-width: 1060px;
    position: relative;
    height: 100vh;
    padding: 0 15px;
}


textarea {
  resize: none;
}

.amenities_list .Specificationjs .slick-dots {
    bottom: 0;
    margin-bottom: -80px;
}

.Specificationjs .slick-dots li:before {
  top: 0;
  bottom: 0;
}

.footer {
  background: #10264a;
}

.footer_logo img {
  width: 220px;
}

.footer .top {
    padding-top: 50px;
}

.footer h4 {
  margin-bottom: 40px;
    position: relative;
    color: #1d9dd8;
    font-size: 17px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.footer h4:after {
    content: '';
    position: absolute;
    width: 42px;
    height: 1px;
    background: #1d9dd8;
    bottom: -13px;
    left: 0;

}

.newsletter_box .form-control {
    background: transparent;
    border-radius: 0;
    padding: 17px 30px;
    font-size: 14px;
    border: solid 1px #444;
}

.newsletter_box button.btn.btn-primary.mb-2 {
    border: solid 1px #444;
    background: transparent;
    border-radius: 0;
    padding: 12px 30px;
    margin-bottom: 0 !important;
    color: #444;
    font-size: 26px;
}
.social-icon li a i {
    color: #1d9dd8;
    font-size: 20px;
    margin-right: 11px;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    border-radius: 50%;
}
.social-icon li a i:hover {
    background: #1d9dd8 !important;
    color: #fff !important;
}
.footer_menu ul {
  list-style: none;
}
.footer_menu ul li{
}
.footer_menu {
    /*margin-top: 60px;*/
}

.copyright .left{
text-align: left;
font-size: 12px;
}

.copyright .right{
text-align: right;
}

.copyright {
    background: #091934;
    padding: 10px 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.footer .copyright p {
  margin-bottom: 0;
  font-size: 13px;
}

.footer_menu ul li a {
    font-size: 15px;
    color: #fff;
    font-family: 'ProximaNovaA-Thin';
}
.footer_menu ul li {
    margin-bottom: 5px;
}

.footer_menu p {
    color: #fff;
    margin-bottom: 0;
   font-size: 16px;
}

.website{
      opacity: 0.4;
    color: #fff;
    margin-bottom: 0;
    font-size: 16px;
    font-family: "CeraGR-Light";
    margin-top: 80px;
    display: block;
}


.footer_inner {
    margin-top: 40px;
}


.second {
      padding-left: 0px;
}

.third {
    padding-left: 45px;
}

.fourth {
  padding-left: 187px;
}

.footer_menu ul li a:hover {
  opacity: 1;
}

.SitePlan h4 {
    font-size: 42px;
    color: #003c5b;
    padding-top: 150px;
}


.floorPlan .slick-dots li {
    margin: 0 7px !important;
}

.floorPlan .slick-dots li {
    padding: 5px;
}

.sticky-contact-container {
    position: fixed;
    top: 30%;
}  



/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #013048;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.newsletter_box button.btn.btn-primary.mb-2:hover {
    background: #444;
    color: #fff;
}
.fp-viewing-Home,
.fp-viewing-About header, 
.fp-viewing-Connectivity header, 
.fp-viewing-Amenities header,
.fp-viewing-Floorplans header, 
.fp-viewing-Siteplan header, 
.fp-viewing-Specification header,
.fp-viewing-Footer header{
    background: rgba(0, 0, 0, 0.5294117647058824);
    padding: 1px 0;
}

.fp-viewing-Home .navbar-brand img ,
.fp-viewing-About header .navbar-brand img , 
.fp-viewing-Connectivity header .navbar-brand img , 
.fp-viewing-Amenities header .navbar-brand img ,
.fp-viewing-Floorplans header .navbar-brand img , 
.fp-viewing-Siteplan header .navbar-brand img , 
.fp-viewing-Specification header .navbar-brand img,
.fp-viewing-Footer header .navbar-brand img{
    width: 100px;
}

/*.fp-viewing-secondPage header .navbar-brand img , 
.fp-viewing-thirdPage header .navbar-brand img , 
.fp-viewing-fourthPage header .navbar-brand img ,
.fp-viewing-fivePage header .navbar-brand img , 
.fp-viewing-sixPage header .navbar-brand img , 
.fp-viewing-sevenPage header .navbar-brand img ,
.fp-viewing-eightPage header .navbar-brand img {
    width: 100px;
}*/

.fixed-top {
    transition: all ease-in-out 0.5s;
    background: rgba(0, 0, 0, 0.5294117647058824);
    padding: 10px 0px;
}

/*.fp-viewing-secondPage header .navbar-light .navbar-nav .nav-link, 
.fp-viewing-thirdPage header .navbar-light .navbar-nav .nav-link, 
.fp-viewing-fourthPage header .navbar-light .navbar-nav .nav-link,
.fp-viewing-fivePage header .navbar-light .navbar-nav .nav-link, 
.fp-viewing-sixPage header .navbar-light .navbar-nav .nav-link, 
.fp-viewing-sevenPage header .navbar-light .navbar-nav .nav-link,
.fp-viewing-eightPage header .navbar-light .navbar-nav .nav-link{
    padding: 0 22px;
    opacity: 0.7;
    font-size: 14px;
}*/

.fp-viewing-Home .navbar-light .navbar-nav .nav-link ,
.fp-viewing-About header .navbar-light .navbar-nav .nav-link, 
.fp-viewing-Connectivity header .navbar-light .navbar-nav .nav-link, 
.fp-viewing-Amenities header .navbar-light .navbar-nav .nav-link ,
.fp-viewing-Floorplans header .navbar-light .navbar-nav .nav-link , 
.fp-viewing-Siteplan header .navbar-light .navbar-nav .nav-link, 
.fp-viewing-Specification header .navbar-light .navbar-nav .nav-link,
.fp-viewing-Footer header .navbar-light .navbar-nav .nav-link {
    padding: 0 22px;
    opacity: 0.7;
    font-size: 14px;
}

.Connectivity_list .Specificationjs {
  margin-top: 0;
}

.Connectivity_list p {
    margin-bottom: 40px;
}

.amenities_left.Connectivity_list .Specificationjs {
  margin-bottom: 0;
}

.amenities_left.Connectivity_list .slick-dots {
    margin-bottom: -60px;
}

#section2 .slick-initialized .slick-slide {
    display: block;
    padding-right: 40px;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.47058823529411764);
}

.SitePlan  .overlay {
  
    background: rgba(0, 0, 0, 0.25);
}

img.textsvg {
    width: 480px;
    margin-bottom: 12px;
}

.validation {
    color: red;
    font-size: 14px;
    text-align: left;
    font-family: 'CeraGR-Medium';
}

img.downarrow {
    position: absolute;
    width: 50px;
    right: 33px;
    bottom: 50px;
    cursor: pointer;
}

.fullHght {
    background-size:cover !important;
    height:100vh;
}

.floor_plan {
    background-color: #030a16;
    background-image: linear-gradient(0deg, #030a16 0%, #1d9dd8 100%);
}

.col-md-12.privacytext p {
    color: #000;
}

.privacytext strong {
    font-weight: 100;
}

.privacytext ul {
    padding-left:30px;
    padding-right:30px;
}

.privacytext ul li {
    font-size: 13px;
    font-family: 'CeraGR-Thin';
    color: #000;
}

.copyright p a {
    opacity: 0.8;
    color: #fff;
}
.modal-content {
    border-radius:0;
}

.modal-header {
    width:100%;
}
.modal-dialog {
    max-width: 760px;
    margin: 1.75rem auto;
}

.copyright p a {
    opacity:0.7;
}


@media (min-width:768px) {
    #section4 .slick-dots{
            display:none !Important;
    }
}

.ftr_mobbtn {
    display:none;    
}



/* ASH */

.jumbo{padding:50px 32px;}
.our{font-size:45px ;text-align:center; font-weight:bold; color:#fff; position:relative;margin-top:65px;}

h2.our:after {
    position: absolute;
    width: 242px;
    height: 4px;
    /* background: red; */
    display: block;
    content: "";
    left: 41%;
    top: 60px;
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 50%, rgba(56,192,240,1) 50%);
}
img.box {
    text-align: center;
    margin: 0 auto;
    display: flex;
    width: auto;
    height: 235px;
}

.mtop {
    position: absolute;
    top: 17%;
}

.gradient-bg{    background-color: #ffffff;
    /*background-image: url(https://www.transparenttextures.com/patterns/ag-square.png);}*/
}  
.our-p{text-align: center;
    color: #fff;
    /* font-weight: bold; */
    padding: 20px 100px;
    font-size: 22px;}

.jumbotron {
   
     background-color: inherit !important; 
    
}

nav.navbar.navbar-expand-lg.navbar-light img {
    width: 230px;
}

.copy{padding: 0 32px;
    margin-bottom: 0px;}
    
.mt-80{margin-top:0px;}


img.box:hover {
    box-shadow: 0 0 10px #ccc;
    transform: scale(1.2, 1.2);
    transition: all 2s;
    transition-timing-function: ease;
}

.banner video {
     width: 100%;
    padding: 0;
    height: 100vh !important;
    padding-top: 0 !important;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover;";
}
.amenities_left img {
    max-width: 90%;
    margin-top: 20px;
    object-fit: contain;
}

.floore-right h4{
    color: #fff;
    font-size: 36px;
    margin-left: 20px;
    /* margin-top: 45px; */
    font-weight: bold;
    
}
   
.aa:after {
    /*background-image: url(../images/paper-plane.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position-x: right;*/
    /*margin-top: -144px;*/
    /*background-origin: content-box;*/
    /*background-position: right;*/
    /*content: "";*/
    /*left: 9px;*/
    /* bottom: 25px; */
    /*position: absolute;*/
    /*display: block;*/
    /* background: red; */
    /* top: 200px; */
    /*width: 100%;*/
    /*height: 436px;*/
}
.col-lg-7.col-md-12.aa {
    background-image: url(../images/paper-plane-03.png);
    background-repeat: no-repeat;
    background-position: center bottom -54px;
    background-size: contain;
    background-size: 90%;
}


ul.social-icon li {
    display: inline-block;
    padding-right: 10px;
    margin-top: 10px;
}


.Specificationjs .slick-dots{
    
   bottom:-40px !important; 
}

.Specificationjs  a.ultimaBtn {
    display: inline-block;
    background: #1d9dd8 ;
    color: #ffffff7d;
    padding: 20px 50px;
    font-size: 14px;
    margin-left: 46px;
}


.soluti.Specificationjs a.ultimaBtn {
    display: inline-block;
    background: #1d9dd8;
    color: #ffffff;
    padding: 17px 25px;
    font-size: 14px;
    margin-left: 47px;
}




.soluti.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.soluti.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #030a16;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.soluti.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.soluti.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


h3.homebdr:after {
    position: absolute;
    width: 290px;
    left: 20px;
    height: 6px;
    display: block;
    text-align: center;
    content: "";
    background: rgb(19,40,76);
    background: linear-gradient(135deg, rgba(255,255,255) 50%, rgba(56,192,240,1) 50%);
}


h4.homebdr1:after {
    position: absolute;
    width: 290px;
    left: 0px;
    height: 6px;
    display: block;
    bottom: -14px;
    text-align: center;
    content: "";
    background: rgb(19,40,76);
    background: linear-gradient(135deg, rgba(19,40,76,1) 50%, rgba(56,192,240,1) 50%);
}


label {
    color: #1d9dd8;
    font-size: 17px;
    font-weight: 600;
}
.ultimaBtn{cursor:pointer;}

.frm .modal-dialog {
    max-width: 760px;
    margin: 1.75rem auto;
    top: -28px;
}
.brocher .slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.brocher img {
    display: block;
    height: 300px !important;
    margin-top: 25px !important;
}


h4.client:after {
    /* position: relative; */
    width: 198px;
    left: 0px;
    height: 6px;
    display: block;
    top: 218px;
    text-align: center;
    content: "";
    background: rgb(19,40,76);
    background: linear-gradient(135deg, rgba(19,40,76,1) 50%, rgba(56,192,240,1) 50%);
}

h4.wow.fadeInUp.secure:after {
    /* position: absolute; */
    width: 242px;
    height: 4px;
    /* background: red; */
    display: block;
    content: "";
    left: 41%;
    top: 60px;
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 50%, rgba(56,192,240,1) 50%);
}

.videopop .modal-dialog {
    max-width: 1000px !important;
    margin: 1.75rem auto !important;
}

#fp-nav{
    display: none !important;
}
.slider-img-right {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.separator {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.separator img {
    object-fit: contain;
    object-position: left;
    height: 100%;
}
.bg-darkblue {
    background-color: #12284c;
}
.slider-left-content {
    margin-left: 80px;
    padding-top: 70px;
    padding-bottom: 50px;
}
.jk .slick-slide .slider-logo img {
    width: 150px !important;
    height: auto !important;
    margin-left: 0px;
}
.jk .slick-slide .slider-logo
{
    border-bottom: 2px solid #0da5de !important;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
    padding-right: 40px;
}
.slider-left-content h2 {
    color: white;
    font-size: 40px;
    line-height: 38px;
    margin-bottom: 20px;
    font-weight: 800;
    color: #0da5de;
}
.slider-left-content p {
    color: white;
    font-size: 22px;
    line-height: 28px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}
.footer p{
    font-weight: normal !important;
}
#cssmenu > ul > li.has-sub > a:before, #cssmenu > ul > li.has-sub > a:after{
    display: none !important;
}
.gradient-color {
    background-color: #030a16;
    background-image: linear-gradient(0deg, #030a16 0%, #1d9dd8 100%);
}
.banner-title-h1{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}
.banner-title-h1:after {
    position: absolute;
    width: 60%;
    height: 10px;
    display: block;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 50%, rgba(56,192,240,1) 50%);
}
.banner-subtitle-p {
    font-weight: 600;
    font-size: 20px;
}

.secondary-slider.owl-theme .owl-dots .owl-dot {
    display: block;
}
.secondary-slider.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.secondary-slider.owl-theme .owl-dots .owl-dot span {
    height: 15px;
    width: 15px;
    background: #12284c;
    box-shadow: 0px 0px 0px 3px #6abd48 inset;
}
.secondary-slider.owl-theme .owl-dots .owl-dot.active span, 
.secondary-slider.owl-theme .owl-dots .owl-dot:hover span {
    background: #6abd48;
}
.secondary-slider.owl-carousel .owl-item img{
}
.secondary-slider-item {
    height: 100vh !important;
}
.slider-logo img {
    width: auto !important;
    margin-left: 0px;
    max-width: 224px;
    margin-bottom: 15px;
}
.download-btn {
    background-color: #05111f00;
    color: #37bff0;
    display: inline-flex;
    align-items: center;
    padding: 0px;
    padding-right: 15px;
    font-weight: 500;
    border: 1px solid #38c0f0;
    border-radius: 4px;
    box-shadow: 0px 0px 16px #37bff017;
}
.download-btn:hover {
    box-shadow: 0px 0px 11px #38c0f08a;
}
.download-btn i {
    padding: 12px 12px;
    display: block;
    border-right: 1px solid #38c0f0;
    margin-right: 15px;
}
@media (max-width: 992px)
{
    
    .one_banner .homebdr{
        font-size: 32px !important;
    }
    .aboutus .one_banner {
        bottom: auto !important;
    }
    .secondary-slider-right {
        order: -1;
    }
.secondary-slider-right .separator {
    display: none;
}
.jk .slick-slide .secondary-slider-right .slider-img-right {
    width: 400px !important;
    height: 230px !important;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.slider-left-content {
    margin-left: 0px;
    max-width: 601px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    padding-top: 0px;
}
}


@media(max-width: 768px){
    
    .floore-right h4 {
        font-size: 28px;
    }
    .slider-left-content h2 {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .slider-left-content p {
        font-size: 16px;
        line-height: 19px;
    }
    .jk .slick-slide .slider-logo img {
        width: 97px !important;

    }
    .jk .slick-slide .secondary-slider-right .slider-img-right {
        width: 338px !important;
        height: 190px !important;
        margin-top: 100px;
        margin-bottom: 30px;
        border-radius: 10px;
    }
    .jk ul.slick-dots {
        left: 0px;
    }
}
@media(max-width: 512px){

    .jk .slick-slide .secondary-slider-right .slider-img-right {
        width: 264px !important;
        height: 146px !important;
    }
}